{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
<i>{{ message }}</i><br>
{% endfor %}
<h2>Search for a Story</h2>
<form action="/search">
  <input type="text" name="query" required>
  <input type="submit" name="search-button" value="Search">
</form>
<h2>Read Stories</h2>
{% for story in storiesEdited %}
<li>
  <ul><a href="story/"+<var>{{story[0]}}</var>>{{story[1]}}</a></ul>
</li>
{% endfor %}
<form action="/createstory">
  <input type="submit" name="create-story-button" value="Create a New Story"/>
</form>
<form action="/logout">
  <input type="submit" name="logout-button" value="Log Out" />
</form>
{% endblock %}
